/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
}

.content-box {
  min-height: 100%;
}

.ant-menu-inline {
  border-right: 0px !important;
  background: #001529 !important;
  color: #ffff !important;
}

.ant-menu-submenu-inline {
  outline: none !important;
}

.link-title {
  outline: none;
}
